/*Base CSS Styles */

:root {
    --core-colour: #1C3E42;
    --white: #FFFFFF;
    --base-light: #6AA2A8;
    --black: #111111;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-light);
}

header {
    background-color: var(--core-colour);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    display: none;
}

/*class aletheia enterprises green logo*/
.greenLogo {
    width: 80px;
    height: 80px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.nav-links, .desktop-nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.desktop-nav-links {
    display: none;
}

.nav-links li {
    display: none;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 4px 0;
}

.nav-links.open li {
    display: block;
    padding: 1rem 0;
}

.close-button {
    display: none;
}

.close-button.active {
    display: block;
}

.hamburger.hidden {
    display: none;
}

@media (min-width: 768px) {
    .nav-links, .nav-links.open {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .close-button, .close-button.active {
        display: none;
    }
    .desktop-nav-links {
        display: flex;
    }
    header h1, .greenLogo {
        display: inline;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        padding: 20px
    }
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--core-colour);
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--core-colour);
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--core-colour);
    color: var(--white);
    border: none;
    cursor: pointer;
}

/* footer */
footer {
    padding: 16px;
    text-align: center;
        display: flex;
        justify-content: space-around;
}

.socials-icon {
    width: 80px;
    height: 80px;
}

.coding-icon {
    width: 80px;
    height: 80px;
    text-align: center;
}

.coding-div {
    width: 80px;
    height: 80px;
    text-align: center;
        display: flex;
        justify-content: space-around;
}